<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{employee.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{employee.emailId}}
    </div>
    <div>
        <label> <b> Designation: </b></label> {{employee.designation}}
    </div>
    <div>
        <label> <b> Phone No.: </b></label> {{employee.phoneno}}
    </div>
    <button (click) = "backtolist()" class = "btn btn-dark mt-3"> Back to employeelist</button>

</div>
